html{
    overflow:auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    padding: 0;
    margin: 0;
}

h2{
    padding: 0;
    margin: 0;
}

p{
    padding: 0;
    margin: 0;
}

#document-name{
    font-size: 1.5vw;
    font-weight: bold;
    outline: 0;
    border-width: 0 0 0.5vh;
    border-color: #B7B7B7;
    text-align: center;
}

.button-container{
    width: 10vw;
    height: 10vw;
    border: #B7B7B7 0.3vw solid;
    background-color: white;
    color: #B7B7B7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    word-wrap: break-word;
}

#rubric-button{
    font-size: 1vw;
    text-align: right;
    margin: 0;
    margin-left: 2.5%;
}

#edit-rubric-button{
    visibility: hidden;
    width: 2.5vw;
    height: 2.5vw;
}


.button-container:hover #edit-rubric-button{
    visibility: visible;
}

#add-button{
    height: 80%;
    width: 80%;
    margin: 0;
}

#buttons-container{
    display: flex;
    justify-content: row;
}

#tabs-container{
    display: flex;
    justify-content: row;
    width: 80vw;
}

.tab{
    width: 5vw;
    height: 4vh;
    text-align: center;
    border-radius: 20% 10% 0 0;
}

.tab h2{
    font-size: 2vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#descriptor-editor-container textarea{
    width: 80vw;
    box-sizing:border-box;
}

.table-wrapper{
    display: block;
    width: 85vw;
    height: 50vh;
    max-height: 50vh;
    overflow: auto;
    border-spacing: 1vw 0;
    text-align: center;
    margin-top: 5vh;
}

.learning-targets-container{
    margin-top: 1vh;
    padding-left: 1vw;
    padding-bottom: 1vh;
}

#left-div {
    display: table-cell;
    background: #FBFBFB;
    color:#B7B7B7;
    text-align: center;
    border-radius: 1vw;
    font-size: 0.75vw;
    width: 25vw;
    text-align: center;
    vertical-align: middle;
    overflow-y: auto;
}
#right-div {
    margin-left: 10vw;
    display: table-cell;
    width: 60vw;
    font-size: 0.75vw;
    height: 100%;
    overflow-y: auto;
}
.criterias-container{
    width: 60vw;
    display: flex;
    justify-content: row;
    margin-left: 1vw;
}

.criteria-container{
    font-size: 0.75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FBFBFB;
    color: #B7B7B7;
    border-radius: 1vw;
    width: 15vw;
    height: inherit;
    margin-right: 1vw;
    padding: 0.5vw;
}

.criteria-desc{
    overflow-wrap: anywhere;
}

.criteria-name-container{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
}

.editor-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
    border-radius: 1vh;
    margin-top: 1vh;
}

textarea{
    resize: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    #rubric-button{
        font-size: 0.75vh;
        text-align: right;
        margin: 0;
        margin-left: 2.5%;
    }

    .criteria-container{
        font-size: 1vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FBFBFB;
        color: #B7B7B7;
        border-radius: 1vw;
        width: 15vw;
        height: inherit;
        margin-right: 1vw;
        padding: 0.5vw;
    }

    .export-button{
        font-size: 1.25vw;
    }
}

@media screen and (max-width: 768px) and (min-width: 480px){
    #rubric-button{
        font-size: 0.5vh;
        text-align: right;
        margin: 0;
        margin-left: 2.5%;
    }
    .criteria-container{
        font-size: 1.25vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FBFBFB;
        color: #B7B7B7;
        border-radius: 1vw;
        width: 15vw;
        height: inherit;
        margin-right: 1vw;
        padding: 0.5vw;
    }
    .export-button{
        font-size: 1vw;
    }
}

@media screen and (max-width: 480px){
    #rubric-button{
        font-size:1vw;
        text-align: right;
        margin: 0;
        margin-left: 2.5%;
    }
    .criteria-container{
        font-size: 1.5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FBFBFB;
        color: #B7B7B7;
        border-radius: 1vw;
        width: 15vw;
        height: inherit;
        margin-right: 1vw;
        padding: 0.5vw;
    }
    .export-button{
        font-size: 0.75vw;
    }
}